footer {
    background-color: rgb(197, 197, 197);
    font-size: 1.0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    padding: 15px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    bottom: -1;
}
  
footer img {
    height: 50px;
}

footer a {
    color: black;
}